body {
    background-color: #AAE0F2;
    margin-left: 30%;

}

#addTable {
margin-left:-300px;
}
#modal1{
	margin-left:-300px;
}

#tr1{
	display: none;
}
#logout{
	margin-left:1000px;
margin-top:-100px;
}
.colored{
	 background-color: #cefdff;
}
.hidden1{
	display: none;
}
#a2 {
    margin-left: 200px;
    margin-top: -47px;
}
#f1{
	margin-left:-170px;
}
 #i1,#i2{
	width: 200px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}