<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Books</title>
	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	
<link rel="stylesheet"  type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/main.css"/>
	
</head>
<body  >

<div><h1 id="a1"><a href="http://localhost:8080/users">Users</a></h1>        <h1 id="a2"><a href="http://localhost:8080/books">Books</a></h1></div>

<form  action="http://localhost:8080/logout">
<button type="submit" id="logout" class="btn btn-info btn-lg" >Logout</button>
</form>

<button type="button" id="modal1" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add book</button>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

  
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Fill the form:</h4>
      </div>
      <div class="modal-body">
      
		<p>ISN:</p><input></input>
		<p>Title:</p><input></input>
		<p>Author:</p><input></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-default" onclick="addBook()"  data-dismiss="modal">Save</button>
      </div>
    </div>

  </div>
</div>

<table class="table table-bordered" id="addTable"  border="1">

<thead> 
<tr>
  <th>ISN</th>
  <th id="author-header">Author</th>
  <th id="title-header">Title</th>
  <th>Is taken by</th>
  <th>Delete</th>
</tr>
</thead> 
<tbody> 
<tr id="tr1">

<td class="td1" data-toggle="modal" data-target="#myModal1" ><a></a></td>
<td ></td>

<td></td>

<td></td>

<td><input type="button" value="x" class="delete-position" ></input></td>

</tr>


</tbody> 
</table>

<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog" >

  
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit book:</h4>
      </div>
      <div class="modal-body">
      
		<p>Author:</p><input></input>
		<p>Title:</p><input type="password"></input>
		<input id="inputId" type="hidden"></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-default" onclick="updateBook()" data-dismiss="modal">Save</button>
      </div>
    </div>

  </div>
</div>
</body>
<script th:inline="javascript">
/*<![CDATA[*/
$('.td1').click(function(){
$('#inputId').val($(this).text());
});
$('#author-header').click( function(){
$('#title-header').removeClass("colored");
$('#author-header').addClass("colored");
});
$('#title-header').click( function(){
$('#author-header').removeClass("colored");
$('#title-header').addClass("colored");
});
$(window).on('load', function() {
  $.ajax({

    url : "/books/showAll",
    contentType : 'application/json',
    type : 'GET',
    success : function(data) { 
	data.forEach(function (book) {
	 $("#tr1").clone([true],[true]).removeAttr("id").appendTo( $("#tr1").parent() );
	 $('tbody tr:eq(-1) td:eq(0) a').text(book.isn);
	 $('tbody tr:eq(-1) td:eq(1) ').text(book.author);
	 $('tbody tr:eq(-1) td:eq(2) ').text(book.title);
	 $('tbody tr:eq(-1) td:eq(3)').text(book.isTakenBy);
     });
	  
    },
    error : function(xhr, status, errorThrown) {
        alert('Internal server error');
    }

});
  
  
});
$('.delete-position').click(function(e){if('You want to delete this book?'){
deleteBook(e);
$(this).closest('tr ').remove();
}
});

function addBook(){ 



        var Book = {
	"isn":$('.modal-body input:eq(0)').val(),
	"title":$('.modal-body input:eq(1)').val(),
            "author":$('.modal-body input:eq(2)').val(),
             

        
}

$.ajax({

    url : "/books/add",
    contentType : 'application/json',
    data : JSON.stringify(Book),
    type : 'POST',
    success : function(data) { $("#tr1").clone([true],[true]).removeAttr("id").appendTo( $("#tr1").parent() );
	$('tbody tr:eq(-1) td:eq(0) a').text(data.isn);
	$('tbody tr:eq(-1) td:eq(1)').text(data.author);
	$('tbody tr:eq(-1) td:eq(2)').text(data.title);
	$('tbody tr:eq(-1) td:eq(3)').text(data.isTakenBy);
        alert('Book added');
		$('.modal-body input:eq(0)').val("");
		$('.modal-body input:eq(1)').val("");
		$('.modal-body input:eq(2)').val("");
    },
    error : function(xhr, status, errorThrown) {
        alert('Book with this isn already exists');
    }

});
}       
function deleteBook(e){ 



        var Book = {
            
 "isn":$(e.target).parent().parent().find('td:eq(0) ').text()
        
}

$.ajax({

    url : "/books/delete",
    contentType : 'application/json',
    data : JSON.stringify(Book),
    type : 'POST',
    success : function(data) { 
        alert('Book deleted');
    },
    error : function(xhr, status, errorThrown) {
        alert('Deleting book failed with status: ' + status + ". "
                + errorThrown);
    }

});
}

$('#author-header, #title-header').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0;i < rows.length;i++)
	{table.append(rows[i])}
});
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).html() }
function updateBook(){ 



        var Book = {
	
            "author":$('#myModal1 .modal-body input:eq(0)').val(),
             "title":$('#myModal1 .modal-body input:eq(1)').val(),
               "isn":  $('#myModal1 .modal-body input:eq(2)').val()
             

        
}

$.ajax({

    data : JSON.stringify(Book),
    url : "/books/update",
    contentType : 'application/json',
    type : 'POST',
    success : function(data) { 
	$(this).closest('tr a').text(data.name);
	
        alert('Book updated');
		$('#myModal1 .modal-body input:eq(0)').val("");
		$('#myModal1 .modal-body input:eq(1)').val("");
    },
    error : function(xhr, status, errorThrown) {
        alert('Internal server error');
    }

});
} 
/*]]>*/
</script>

</html>
